@page "/User/StartPage"

@inject AppSettings appSettings
@inject AppState appState
@inject HttpClient httpClient
@inject NavigationManager nav

@using SectorModel.Shared.Entities
@using SectorModel.Client.Pages.Models

<AppHeader/>

<ModelList UserModelList="@appState.AllUserModels"/>

 <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<input type="button" id="btnCore" class="button button-primary" @onclick="GoToCoreModel" value="Go To Core Model"/>
		</div>
		<div class="col-sm-6">
			<input type="button" id="btnSPDR" class="button button-primary" @onclick="GoToSPDRModel" value="Go To SPDR Model"/>
		</div>
	</div>
</div>


@code
{
	private void GoToCoreModel()
	{		
		nav.NavigateTo($"/Core/CoreModel/false");
	}

	private void GoToSPDRModel()
	{		
		nav.NavigateTo($"/Core/CoreModel/true");
	}
}