@page "/pietest"
@inject SectorModel.Shared.Entities.AppSettings state
@inject HttpClient httpClient
@using SectorModel.Client.Entities
@using SectorModel.Client.Pages.Components
@using SectorModel.Client.Common


<div>
    <PieChart Width="20%" PieSlices="@slices" />
</div>

@code
{
    List<PieSlice> slices = new List<PieSlice>();

    protected override void OnInitialized ()
    {
        slices = GetSlices();
    }

    private List<PieSlice> GetSlices()
    {
        slices.Add(new PieSlice()
        {
            Name = "XLF",
            Percent = 15,
            Color = ColorPicker.Get(1)
        });

        slices.Add(new PieSlice()
        {
            Name = "XLE",
            Percent = 20,
            Color = ColorPicker.Get(2)
        });

        slices.Add(new PieSlice()
        {
            Name = "XLK",
            Percent = 60,
            Color =ColorPicker.Get(3)
        });

        slices.Add(new PieSlice()
        {
            Name = "XLV",
            Percent = 5,
            Color = ColorPicker.Get(4)
        });

        return slices;
    }

}

