@page "/coregroup"

@inject SectorModel.Shared.Entities.AppSettings state
@inject HttpClient httpClient

@using SectorModel.Client.Pages.Components
@using SectorModel.Shared.Entities

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h4>Current Core Model</h4>
        </div>
        <div class="col-6" style="text-align:right;">
            <span>Effective Date:@model.StartDate.ToShortDateString()</span>
            <br/>
            <span>Last Quote Date:@state.LastQuoteDate.ToShortDateString()</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ModelEquityGrid ModelEquityList="@modelEquityList" />
        </div>
    </div>
</div>

@code
{
    decimal totalValue = 0;
    decimal totalCost = 0;

    List<ModelItem> modelEquityList = new List<ModelItem>();
    Model model = new Model();

    protected override async Task OnInitializedAsync()
    {
        model = await httpClient.GetFromJsonAsync<Model>($"model/getmodel?modelId={state.CoreModelId}").ConfigureAwait(false);

        modelEquityList = await httpClient.GetFromJsonAsync<List<ModelItem>>($"quote/getmodelbydate?modelId={state.CoreModelId}&date={DateTime.Now.Date}&versionNumber={model.Version}").ConfigureAwait(false);

        totalValue = modelEquityList.Sum(q => q.CurrentValue);
        totalCost = modelEquityList.Sum(q => q.Cost);
    }

}
