@page "/Core/CoreModel"
@page "/Core/CoreModel/{IsSPDR:bool}"

@inject AppSettings appSettings
@inject HttpClient httpClient
@inject NavigationManager nav

@using SectorModel.Client.Pages.Components
@using SectorModel.Shared.Entities

<AppHeader/>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h4>@model.Name</h4>
        </div>
        <div class="col-6" style="text-align:right;">
            <span>Starting Date:@model.StartDate.ToShortDateString()</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           <ModelEquityGrid ModelEquityList="@modelEquityList" />
        </div>
    </div>
</div>

@code
{
    List<ModelItem> modelEquityList = new List<ModelItem>();
    Model model = new Model();

	[Parameter]
	public bool IsSPDR {get; set;}

    protected override async Task OnInitializedAsync()
    {
		if (IsSPDR)
		{	
			model = appSettings.SPDRModel;	
		}
		else
		{
			model = appSettings.CoreModel;
		}	
	
        modelEquityList = await httpClient.GetFromJsonAsync<List<ModelItem>>($"quote/getmodelbydate?modelId={model.Id}&date={DateTime.Now.Date}&versionNumber={model.Version}").ConfigureAwait(false);
    }
}
