@page "/ModelComposite/{ModelId:guid}"

@inject AppSettings appSettings
@inject AppState appState
@inject HttpClient httpClient
@inject NavigationManager nav

@using SectorModel.Shared.Entities
@using SectorModel.Client.Pages.Components

<AppHeader />

<ModelHeader Model="model"/>

<div class="row">
	<div class="col-xs-6 align-items-center">
		<PieChart PieSlices="@slices" Height="400" Width="400" HideLegend=true/>
	</div>
	<div class="col-xs-6">
		<SimpleModelItemList Model="model"/>
	</div>
</div>

@code
{
    [Parameter] public Guid ModelId {get; set;}

	private Model model = new Model();

    List<PieSlice> slices = new List<PieSlice>();

    protected override void OnInitialized()
    {
		if (ModelId == appSettings.CoreModelId)
		{
			model = appSettings.CoreModel;
		}
		else
		{
			model = appState.ModelList.Where( m => m.Id == ModelId).FirstOrDefault();
		}

        GetSlices(model);
    }

    private void GetSlices(Model model)
    {
        int x = 1;

        foreach (ModelItem mi in model.ItemList)
        {
            slices.Add(new PieSlice()
            {
                Name = mi.Equity.SymbolName,
                Percent = mi.Percentage,
                Color = Utils.GetColor(x++)
            });
        }
    }
}
