@page "/ModelComposite"

@inject AppSettings appSettings
@inject AppState appState
@inject HttpClient httpClient
@inject NavigationManager nav

@using SectorModel.Shared.Entities
@using SectorModel.Client.Pages.Components

<AppHeader />
    <div class="row">
        <div class="col-xs-6">
            <PieChart PieSlices="@slices" Height="400" Width="400" HideLegend=true/>
        </div>
        <div class="col-xs-6">
            <SimpleModelItemList/>
        </div>
    </div>

@code
{
    private Model model = new Model();

    List<PieSlice> slices = new List<PieSlice>();

    protected override void OnInitialized()
    {
        model = appState.Model;
        GetSlices(model);
    }

    private void GetSlices(Model model)
    {
        int x = 1;

        foreach (ModelItem mi in model.ItemList)
        {
            slices.Add(new PieSlice()
            {
                Name = mi.Equity.SymbolName,
                Percent = mi.Percentage,
                Color = Utils.GetColor(x++)
            });
        }
    }
}
