@inject AppState appState
@inject AppSettings appSettings

 <div class="container">
	<div class="row">
		<div class="col-sm-3">
			<p>Quotes as of @appSettings.LastQuoteDate</p>
		</div>
		<div class="col-sm-4">
			<p>Welcome @appState.CurrentUser.Email</p>
		</div>
		<div class="col-sm-2">
			<p>@DateTime.Now</p>
		</div>
		<div class="col-sm-3">
			<a href="/User/StartPage">Home</a>
		</div>
	</div>
</div>