@using SectorModel.Shared.Entities
@inject AppSettings appSettings
@inject HttpClient httpClient

@if (equities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select id="equityDDL">
        <option></option>
        @foreach (var equity in equities)
        {
            <option value="@equity.Symbol">@equity.SymbolName</option>
        }
    </select>
}

    @code
    {
        protected List<Equity> equities;

        protected override async Task OnInitializedAsync()
        {
            equities = await httpClient.GetFromJsonAsync<List<Equity>>("equity/GetAll");
        }
    }
