@inject AppState appState

 <div class="container">
	<div class="row">
		<div class="col-sm-4">
			<p>Sector Modelling!</p>
		</div>
		<div class="col-sm-4">
			<p>@appState.CurrentUser.Email</p>
		</div>
		<div class="col-sm-4">
			<p>@DateTime.Now</p>
		</div>
	</div>
</div>