@page "/Accounts/Admin"

@inject HttpClient httpClient
@inject AppSettings appSettings
@inject AppState appState

  <div class="container-fluid">
        <div class="row">
            <h3>App Admin page</h3>
        </div>
        <div class="row">
            <a href="https://iexcloud.io">Data provided by IEX Cloud</a>
            <br />
            User: @appState.CurrentUser.Email
            <br />
            Last Quote Update Date: @appSettings.LastQuoteDate.ToShortDateString()
            <br />
        </div>
    </div>

   <button class="btn-primary" @onclick="UpdateQuotes">Update quotes</button>


@code
{
    private async Task UpdateQuotes()
    {
        bool isOK = await httpClient.GetFromJsonAsync<bool>($"clouddata/updatequotes?lastquotedate={appSettings.LastQuoteDate}&coreModelId={appSettings.CoreModelId}");
        
        if (isOK)
        {
            appSettings.LastQuoteDate = DateTime.Now;
        }
    }
}
