@page "/Accounts/Admin"

@inject HttpClient httpClient
@inject AppStateContainer state

  <div class="container-fluid">
        <div class="row">
            <h3>App Admin page</h3>
        </div>
        <div class="row">
            <a href="https://iexcloud.io">Data provided by IEX Cloud</a>
            <br />
            User: @state.UserName
            <br />
            Last Quote Update Date: @state.LastQuoteDate.ToShortDateString()
            <br />
        </div>
    </div>

   <button class="btn-primary" @onclick="UpdateQuotes">Update quotes</button>


@code
{
    private async Task UpdateQuotes()
    {
        bool isOK = await httpClient.GetFromJsonAsync<bool>($"clouddata/updatequotes?lastquotedate={state.LastQuoteDate}&coregroupid={state.CoreModelId}");
        
        if (isOK)
        {
            state.LastQuoteDate = DateTime.Now;
        }
    }
}
