@page "/Accounts/Signup"
@inherits LayoutComponentBase
@using SectorModel.Shared.Entities
@using System.Net.Http.Json

@inject HttpClient httpClient
@inject NavigationManager nav
@*@inject UserState userState*@

<div class="row" style="padding:20px">

    <EditForm Model="user" OnSubmit="HandleSubmit">

        <div class="row">
            <div class="col-12">
                <h4>Become a SectorBuilder member</h4>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Enter your email address</label>
                <InputText id="userName" class="form-control" @bind-Value="@user.Email" />
                <br />
                <label>Enter a password (no particular requirements)</label>
                <InputText Id="password1" class="form-control" type="password" @bind-Value="@user.Password" />
                <br />
                <label>Confirm the password</label>
                <InputText Id="password2" class="form-control" type="password" @bind-Value="@user.ConfirmPassword" />
                <br />
                <br />
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-secondary" @onclick="CloseThis">Cancel</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br />
                        <br />
                        <label style="color:@validationTextColor;">@ValidationMessage</label>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>


@code
{
    public User user = new User();

    private string ValidationMessage;

    private string validationTextColor;

    private void CloseThis()
    {
        nav.NavigateTo("/");
    }

    private async Task HandleSubmit()
    {
        validationTextColor = "red";
        ValidationMessage = string.Empty;

        var bExists = await httpClient.GetFromJsonAsync<bool>($"user/exists?email={user.Email}");

        if (bExists)
        {
            ValidationMessage = "This email address has already been used.";
            return;
        }

		if (string.IsNullOrEmpty(user.Password))
        {
            ValidationMessage = "Blank passwords are not allowed. Please re-enter.";
            return;
        }

        if (user.Password != user.ConfirmPassword)
        {
            ValidationMessage = "Passwords do not match. Please re-enter.";
            return;
        }

        HttpResponseMessage response = await httpClient.PostAsJsonAsync<User>("user/save", user);
        User newUser = await response.Content.ReadFromJsonAsync<User>();

        if (newUser != null)
        {
            validationTextColor = "black";
            ValidationMessage = "Your account has been created.";			

			nav.NavigateTo("/Accounts/Login");
        }
    }
}
